@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

@media screen and (min-width: 767px) { /* PC用 */
	#menu-bg {
		background-color: #00FFFF; /*青色*/
	}
	}

@media screen and (max-width: 479px) { /* スマホ用 */
	#menu-bg {
		background-color: #00FF00; /*緑色*/
	}
	}

body {
	min-height: 100vh;
	margin: 0;
	padding: 0;	
	justify-content: center;
	text-align: center;
		font-family: 'Kosugi Maru', sans-serif;	
		color: #000043;
}

p {
	font-size: 0.85em;
}

p2 {
	font-size: 0.85em;
	padding-left: 3.5%;
	text-align: right;
}

footer {
	padding-left: 20%;
	padding-right: 20%;
	display: flex;
}