@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

body {
  font-family: 'Sawarabi Gothic', sans-serif;
  color: rgb(255, 255, 255);
  background-color: #333333;
  text-align: center;
}